
@{
    ViewData["Title"] = "DoctorDetails";
}

@model TrackDr.Models.SingleDoctor
<h1>Doctor Details</h1>

<table class="table">
    <tr>
        <th>Title:</th>
        <th>Name:</th>
        <th>Gender:</th>
        <th>State:</th>
        <th>Specialty:</th>
        <th>Bio:</th>
    </tr>

    <tr>
        <td>@Model.data.profile.title</td>
        <td>@Model.data.profile.first_name @Model.data.profile.last_name</td>
        <td>@Model.data.profile.gender</td>
        @{
            List<string> stateList = new List<string>();
            @foreach (var office in Model.data.practices)
            {
                if (!stateList.Contains(office.visit_address.state))
                {

                    <td>@office.visit_address.state</td>
                    stateList.Add(office.visit_address.state);
                }

            }
        }
        @foreach (var specialty in Model.data.specialties)
        {
            <td>@specialty.name<br /></td>
        }
        <td>@Model.data.profile.bio</td>
       

        @foreach (var language in Model.data.profile.languages)
        {
            <td>@language.name</td>
        }
        <td><img src="@Model.data.profile.image_url" alt="Photo" /> </td>

    </tr>

</table>