@{
    ViewData["Title"] = "ListDoctor";
}

<h1>List Doctor</h1>

@model TrackDr.Models.Rootobject

@*@if (!User.Identity.IsAuthenticated)
{
    <p>Please Login to View More Information or Save Doctors</p>
}*@


<table class="table">
    <tr>
        <th>Title:</th>
        <th>Name:</th>
        <th>State:</th>
        <th></th>
        <th></th>

    </tr>

    @foreach (var doctor in Model.data)
    {
        <tr>
            <td>@doctor.profile.title</td>
            <td>@doctor.profile.first_name @doctor.profile.last_name</td>
            @{ 
                List<string> stateList = new List<string>();
            @foreach (var office in doctor.practices)
            {
                if (!stateList.Contains(office.visit_address.state))
                {

                 <td>@office.visit_address.state</td>
                        stateList.Add(office.visit_address.state);
                    }

                }
            }
            @foreach (var specialty in doctor.specialties)
            {
                if(specialty == null)
                {
                    System.Threading.Thread.Sleep(300);
                }
                <td>@specialty.name</td>
    }

            @*@if (User.Identity.IsAuthenticated)
            {*@
            <form action="/Home/AddDoctor" method="post">
                @*string doctorId = doctor.uid;*@
                @*<td> <input type="submit" name="" value="Add" /> </td>*@
            </form>
               @{string doctorUid = doctor.uid; }

            <td>@Html.ActionLink("Add", "AddDoctor", new { doctorUid })</td>
                @*}*@

        </tr>
    }
</table>