@{
    ViewData["Title"] = "ListDoctor";
}

<h1>Your Results:</h1>

@model TrackDr.Models.Rootobject

<table class="table" style="table-layout:fixed; column-count: 5; column-width: 30px;">
    <tr style="width: 30px;">
        <th>Title:</th>
        <th>Name:</th>
        <th>State:</th>
        <th>Specialties:</th>
        <th>Save:</th>
    </tr>

    @foreach (var doctor in Model.data)
    {
        <tr>
            <td>@doctor.profile.title</td>
            <td>@doctor.profile.first_name @doctor.profile.last_name</td>
            <td>
                @{List<string> stateList = new List<string>();
                    @foreach (var office in doctor.practices)
                    {
                        if (!stateList.Contains(office.visit_address.state))
                        {
                            <p>@office.visit_address.state</p>
                            stateList.Add(office.visit_address.state);
                        }
                    }
                }
            </td>
            <td>
                @foreach (var specialty in doctor.specialties)
                {
                    if (specialty == null)
                    {
                        System.Threading.Thread.Sleep(300);
                    }
                    <p>@specialty.name</p>
                }
            </td>
            @{string doctorUid = doctor.uid;}
            @{string firstName = doctor.profile.first_name;}
            <td>@Html.ActionLink("Add", "AddDoctor", new { doctorUid }, new { firstName })</td>
        </tr>
    }
</table>