
@{
    ViewData["Title"] = "ListDoctor";
}

<h1>List Doctor</h1>

@model TrackDr.Models.Rootobject

<table class="table">
    <tr>
        <th>Title:</th>
        <th>Name:</th>
        <th>State:</th>
        <th></th>
        <th></th>

    </tr>

    @foreach (var doctor in Model.data)
    {
        <tr>
            <td>@doctor.profile.title</td>
            <td>@doctor.profile.first_name @doctor.profile.last_name</td>
            @foreach (var location in doctor.practices)
            {
                <td>@location.visit_address.state</td>
            }
            @foreach (var specialty in doctor.specialties)
            {
                <td>@specialty.name</td>
            }
            <form action="/Home/AddDoctor" method="post">
                @{string doctorId = doctor.uid;}
                <td> <input type="submit" name="" value="Add" /> </td>
            </form>
            @{string doctorUid = doctor.uid;}

            <td>@Html.ActionLink("Add", "AddDoctor",  new { doctorUid });</td>
        </tr>
    }
</table>

