
@{
    ViewData["Title"] = "List Doctors Based On Insurance";
}

<h1>List Of Doctors Based On Insurance:</h1>

@model TrackDr.Models.Rootobject

<table class="table">
    <tr>
        <th>Title:</th>
        <th>Name:</th>
        <th>States:</th>
        <th>Specialties</th>
        <th>Save:</th>
    </tr>

    @foreach (var doctor in Model.data)
    {
        <tr>
            <td>@doctor.profile.title</td>
            <td>@doctor.profile.first_name @doctor.profile.last_name</td>
            <td>
                @{List<string> stateList = new List<string>();
                    @foreach (var office in doctor.practices)
                    {
                        if (!stateList.Contains(office.visit_address.state))
                        {
                            <p>@office.visit_address.state</p><br/>
                            stateList.Add(office.visit_address.state);
                        }
                    }
                }
            </td>
            <td>
                @foreach (var specialty in doctor.specialties)
                {
                    <p>@specialty.name</p>
                }
            </td>
            @{string doctorUid = doctor.uid; }

            <td>@Html.ActionLink("Add", "AddDoctor", new { doctorUid })</td>
        </tr>
    }
</table>