
@{
    ViewData["Title"] = "SavedDoctors";
}

<h1>SavedDoctors</h1>

<table class="table">
    <tr>
        <th>Title:</th>
        <th>Name:</th>
        <th>Specialty:</th>
    </tr>

    @foreach (var doctor in Model.data)
    {
        <tr>
            <td>@doctor.profile.title</td>
            <td>@doctor.profile.first_name @doctor.profile.last_name</td>
            @foreach (var specialty in doctor.specialties)
    {
                <td>@specialty.name</td>
    }
            <td>@Html.ActionLink("More Details", "DoctorDetails", "Home")</td>
        </tr>
    }
</table>