
@{
    ViewData["Title"] = "UserInformaton";
}

<h1>UserInformaton</h1>

@model TrackDr.Models.User

<ul>

    <li>@Model.HouseNumber</li>
    <li>@Model.Street</li>
    @if(Model.Street2 != null)
    {
        <li>@Model.Street2</li>
    }
    <li>@Model.City</li>
    <li>@Model.State</li>
    <li>@Model.ZipCode</li>
</ul>